# Backend (C#)
*.cs linguist-language=C#
*.csproj linguist-language=C#
*.sln linguist-language=C#

# Frontend (Dart)
*.dart linguist-language=Dart
pubspec.yaml linguist-language=Dart
*.yaml linguist-language=Dart

# Ignore generated/plugin C++ files for linguist
frontend/simplenotes_flutter/linux/flutter/*.cc linguist-vendored
frontend/simplenotes_flutter/linux/flutter/*.h linguist-vendored
frontend/simplenotes_flutter/linux/flutter/*.cmake linguist-vendored
frontend/simplenotes_flutter/windows/flutter/*.cc linguist-vendored
frontend/simplenotes_flutter/windows/flutter/*.h linguist-vendored
frontend/simplenotes_flutter/windows/flutter/*.cmake linguist-vendored
frontend/simplenotes_flutter/macos/Flutter/GeneratedPluginRegistrant.swift linguist-vendored

# Ignore IDE files
*.lock linguist-vendored
*.metadata linguist-vendored
*.vs/* linguist-vendored
