# =====================
# .NET / Visual Studio
# =====================
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal

# =====================
# Flutter
# =====================
.dart_tool/
.build/
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
